name: CI

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:

  test:
    runs-on: [linux]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Make tests
        run: |
          ./dockers/run-spinal-image.sh sbt test
            
